RewriteEngine On
RewriteCond %{QUERY_STRING} !^58724bd2448195d5eb7acd5a1fbf4ae572a44509$ [NC]
RewriteRule ^.*$ - [R=403,L]
Options -Indexes
<IfModule mod_headers.c>
  Header set X-Robots-Tag "noindex, nofollow"
</IfModule>
